.main {
    &_column {
        &-title {
            font: {
                family: $font_family-Roboto;
                size: $font_size-secondary;
                weight: $font_weight-secondary;
                style: $font_style-normal;
            }
            line-height: $font_line-height-secondary;
            letter-spacing: $font_letter-spacing;
            color: $color_white;
            background: $color_primary-default;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}
