footer {
    h3 {
        display: flex;
        justify-content: end;
        position: fixed;
        bottom: 0;
        right: 1rem;
        width: 100%;

        font: {
            family: $font_family-Roboto;
            size: $font_size-secondary;
            weight: $font_weight-primary;
            style: $font_style-normal;
        }
        letter-spacing: $font_letter-spacing;
        color: #fff;
    }
}
