.header {
    &_title {
        font: {
            family: $font_family-Roboto;
            size: $font_size-primary;
            weight: $font_weight-primary;
            style: $font_style-normal;
        }

        line-height: $font_line-height-primary;
        letter-spacing: $font_letter-spacing;
        color: #fff;
    }

    &_time {
        font: {
            family: $font_family-Roboto;
            size: $font_size-primary;
            weight: $font_weight-primary;
            style: $font_style-normal;
        }

        line-height: $font_line-height-primary;
        letter-spacing: $font_letter-spacing;
        color: #fff;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        &_title {
            font: {
                family: $font_family-Roboto;
                size: $font_size-secondary;
                weight: $font_weight-primary;
                style: $font_style-normal;
            }

            line-height: $font_line-height-primary;
            letter-spacing: $font_letter-spacing;
            color: #fff;
        }

        &_time {
            font: {
                family: $font_family-Roboto;
                size: $font_size-secondary;
                weight: $font_weight-primary;
                style: $font_style-normal;
            }

            line-height: $font_line-height-primary;
            letter-spacing: $font_letter-spacing;
            color: #fff;
        }
    }
}

@media only screen and (min-width: 600px) {
    .header_time {
        text-align: right;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        text-align: center !important;
    }
}
