/*=======================================
            Colors - Start
=======================================*/
$color_primary-default: #07043b;
$color_primary-light: #575988;

$color_secondary-default: #2f65f8;
$color_secondary-active: #6c9bff;

$color_external-default: #3da08f;
$color_external-active: #71dfcc;

$color_link-default: #ffffff;
$color_link-active: #6c9bff;

$color_white: #ffffff;
$color_red: #ff0000;

/*=======================================
            Colors - End
=======================================*/
