/*=======================================
            Colors - Start
=======================================*/

$color_primary-default: #314cce;
$color_preparation-default: #ffa200;
$color_active-default: #04ff66;
$color_end-default: #ff1000;

$color_link-default: #ffffff;
$color_link-active: #314cce;

$color_white: #ffffff;
$color_red: #ff0000;

/*=======================================
            Colors - End
=======================================*/
